
.menu{
    display: flex;
    justify-content: center;
    background-color: rgb(70, 69, 69);
}

.menu div{
    border: 5px solid rgb(0, 0, 0);
    padding: 15px;
    margin: 10px;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
}
.menu button{
    background: none;
    border: none;
    cursor: pointer;   
}
.menu button:hover{
    transform: scale(1.1);
}
.menu-if{
    display: flex;
    justify-content: center;
    font-size: 22px;
    color: red;
}